body {
    margin: 0;
}

.main-container {
    width: 90%;
    max-width: 1020px;
    margin: 0 auto;
    border: 2px solid orange;
}

.header-info {
    display: flex;
}

.header-info>p {
    border: 2px solid blue;
    padding: 0.25em;
}

.main-image {
    width: 100%;
}


.material-icons {
    font-size: 24px;

}

.local {
    color: orange;
}

.basic-details {
    display: flex;
}

aside {
    float:right;
    margin-top:5%;
    padding: 1em;
    border: 2px solid brown;
    border-radius:1em;
    width: fit-content;
}
aside > div{
    padding:0.5em;
    /* border: 2px solid blue; */
}
aside > div > p{
    padding-left:0.5em;
    font-size:10px;
    color:gray;
    padding-right:0.5em;

}
aside > div > p > span{
  color: black;
  font-size: 14px;;
}
.time-icon{
color: black;
}
footer {
    color: magenta;
    text-align: center;
}