body {
    margin: 0;
}

.main-container {
    width: 90%;
    max-width: 1020px;
    margin: 0 auto;
    /* border: 2px solid orange; */
}

.header-info {
    display: flex;
}

.header-info>p {
    /* border: 2px solid blue; */
    padding: 0.5em;
   
}
.header-description{
width:68%;
font-style: italic;
}

.main-image {
    width: 100%;
}

.ingredients-section{
    width:60%;
    
}
h3{
    font-style: italic;
    font-weight: normal;
}
.ingredients-section >div{
    display:flex;
    padding:0.5em;
}
.input-checkbox,
.additional-items{
    margin-right:1em;
}
.items{
    font-style: italic;
}

.material-icons {
    font-size: 24px;

}

.local {
    color: orange;
}

.basic-details {
    display: flex;
}

aside {
    float:right;
    margin-top:5%;
    padding: 1em;
    border: 2px solid brown;
    border-radius:1em;
    width: fit-content;
}
aside > div{
    padding:0.5em;
    /* border: 2px solid blue; */
}
aside > div > p{
    padding-left:0.5em;
    font-size:10px;
    color:gray;
    padding-right:0.5em;

}
aside > div > p > span{
  color: black;
  font-size: 14px;;
}
.time-icon{
color: black;
}


ol{
   
    padding:0;
}
ol li{
    counter-increment:numbers;   
    /* border: 2px solid blue; */
    display:flex;
   align-items: flex-start;
   width:55%;
}

ol li:before {
    content: counter(numbers) ;
    background-color: orange;
    color:white;
    padding:0 0.75em;
    margin: 1.5em;
    font-size:15px;
    font-weight:900;
    /* border: 2px solid green; */
    height:fit-content;
    border-radius:0.5em;
    font-family:"Indie Flower";
    
}

ol{
    list-style:none;
    counter-reset:numbers;
}
.source{
    color: gray;
    padding:0.5em;
    font-style: italic;
}
footer {
    color: black;
    text-align: center;
}